
body {
    background-color: rgb(242, 242, 242);
}

h1 {
    font-size: 100px;
    color:#1370c7
}

h3 {
    font-size: 25px;
    color:#1370c7;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

header img {
    background-position: 10%;
     ;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a:hover {
    color: blue;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
  }

.grid-col {
    display: grid;
    flex-direction: row;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
}

button:hover {
    background-color: #772014;
    color: #fff;
  }

button:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
}

button:focus {
    outline: none;
    border-color: #8ac4ff;
  }

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
    